/* .main {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.bar {
  background: #fff;
  flex: none;
  border-bottom: 1px solid #424242;
  display: flex;
  padding: 16px;
}


.on-top {
  z-index: 9999;
  height: 100vh;
  width: 250px;
  position: absolute;
}

.boxes {
  margin: 48px auto;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  position: relative;
  margin: 16px;
  height: 150px;
  width: 300px;
  border-radius: 16px;
  border: 1px solid;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bottom-corner {
  position: absolute;
  left: 75%;
  top: 75%;
}

.toggle {
  color: #424242;
  margin: 0 16px;
  border-color: #424242;
  width: auto;
} */
